@charset "UTF-8";

@font-face {
    font-family: Asap;
    src: url("./Asap/Asap-Regular.ttf");
}

@font-face {
    font-family: Asap;
    font-weight: bold;
    src: url("./Asap/Asap-Bold.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Asap;
}

body {
    background: #292c34;
}

header {
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 24px;
    background: #fff;
}

header > h1 {
    font-family: Asap;
}

.container {
    width: 800px;
    padding: 60px;
    padding-left: 0px;
    padding-top: 0px;
    margin: 10px auto;
    font-size: 22px;
}

.container div {
    margin: 35px auto;
    height: 50px;
}

.container div input {
    font-size: 22px;
}

.container .textbox {
    width: 100px;
    height: 35px;
    border: none;
    outline: none;
}

.container .btn {
    background: -webkit-linear-gradient(top, #27b0f6 0%, #0aa1ed 100%);
    border-radius: 40px;
    border: 4px solid #fff;
    width: 200px;
    height: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 26px;
    transition: all 0.3s ease;
}

.container .btn:hover {
    cursor: pointer;
    color: #000;
    background: #fff;
    width: 210px;
    border: 4px solid #000;
}

.container .inline_block {
    display: inline-block;
    float: right;
    margin-top: -5px;
    margin-right: 180px;
}

.container .clr {
    width: 270px;
    background: rgb(255, 30, 30);
    color: #fff;
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;
}

.container .clr:hover {
    width: 280px;
    background: #fff;
    color: #f00;
    border: 4px solid #000;
}

.container span {
    color: #fff;
    font-size: 26px;
    margin-right: 20px;
}

.container #include_min {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0px 10px;
    background-color: rgb(255, 255, 255);
}

.hide {
    display: none;
}

.block {
    display: block;
}